annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
camilladsp @ git+https://github.com/HEnquist/pycamilladsp.git@fdc0d163e02dd73206a493402b43c83502ad83d7
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
fastapi==0.135.2
h11==0.16.0
idna==3.11
pydantic==2.12.5
pydantic_core==2.41.5
python-mpd2==3.1.1
PyYAML==6.0.3
requests==2.33.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
websocket-client==1.9.0
