fastapi==0.115.0
uvicorn[standard]==0.30.0
python-mpd2==3.1.1
pydantic==2.9.0
aiofiles==24.1.0
python-dotenv==1.0.1
aiohttp==3.10.0
requests
PyYAML
camilladsp @ git+https://github.com/HEnquist/pycamilladsp.git@fdc0d163e02dd73206a493402b43c83502ad83d7